<!DOCTYPE html>
<html>

<head>
  <title>Json Formatter</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <!-- <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" /> -->
  <link rel="icon" 
      type="image/png" 
      href="image/favicon.png">
  <script type="text/javascript" src="js/json-viewer.js"></script>
</head>

<body>
  <div class="container">
    <div id="first">
      <form class="form">
        <label class="form__label--hidden" for="msg">Input json:</label>
        <textarea class="form__input" class="form__input" id="msg" placeholder="Input json..." rows="6"></textarea>
      </form>
    </div>
    <div id="two">
      <button type="button" class="load-json">Load</button>      
      <button type="button" class="collapse">Collapse</button>
      <button type="button" class="expand">Expand</button>
      <button type="button" class="reset">Reset</button>
    </div>
    <div id="three">
      <div id="json"></div>
    </div>
  </div>

  <script src="js/json-active.js"></script>
</body>

</html>